<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="sass/main.css">
    <title>Test</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <div class="header-section">
            <div class="header-section__logo">
                <div class="header-section__logo-img">
                    <img src="img/box_logo/box-logo.png" alt="">
                </div>
                <!-- /.header-section__logo-img -->
                <div class="header-section__logo-text">
                    ASSOCIATES
                    STUDIO
                    DESIGN
                </div>
                <!-- /.header-section__logo-text -->
                <div class="header-section__logo-social">
                    <a href="#"><img src="img/box_logo/social/facebook_icon.png" alt=""></a>
                    <a href="#"><img src="img/box_logo/social/twitter_icon.png" alt=""></a>
                    <a href="#"><img src="img/box_logo/social/linkedin_icon.png" alt=""></a>
                    <a href="#"><img src="img/box_logo/social/g+_icon.png" alt=""></a>
                </div>
                <!-- /.header-section__logo-social -->
                <div class="header-section__logo-chair">
                    <img src="img/box_logo/chair.png" alt="">
                </div>
                <!-- /.header-section__logo-chair -->
            </div>
            <!-- /.header-section__logo -->
            <div class="header-section__nav">
                <div class="header-section__nav-img">
                    <div class="header-section__nav-img_gamr"><img src="img/box_logo/nav/nav.png" alt=""></div>
                    <div class="header-section__nav-img_text">
                        90802 California
                        Long beach<br>
                        PO Box 68789<br>
                        300 East Ocean 
                        Boulevard
                    </div>
                <div class="header-section__nav-img_line"><img src="img/box_logo/nav/line.png" alt=""></div>
                </div>
                <!-- /.header-section__nav-img -->
                
                <!-- /.header-section__nav-text -->
                <div class="header-section__nav-text-1">
                    +64 9 345 6758
                    info@dsgn-studio.com
                </div>
                <!-- /.header-section__nav-text-1 -->
            </div>
            <!-- /.header-section__nav -->
            
        </div>
        <!-- /.header-section -->
    

    <div class="footer-section">
        <div class="footer-section__project">
            <div class="footer-section__project-arrow_img">
                <img src="img/footer-section/prjct/arrow_icon.png" alt="">
            </div>
            <!-- /.footer-section__project-arrow_img -->
            <div class="footer-section__project-text_up">
                <span class="footer-section__project-text_up-black">All</span><br>
                House
                Commercial
                Personal
                Studio Lab                
            </div>
            <!-- /.footer-section__project-text -->
            <div class="footer-section__project-line_img">
                <img src="img/footer-section/prjct/line.png" alt="">
            </div>
            <!-- /.footer-section__project-line_img -->
            <div class="footer-section__project-text_down">
                projects
            </div>
            <!-- /.footer-section__project-text_down -->
        </div>
        <!-- /.footer-section__project -->
        <div class="footer-section__fondue">
            <div class="footer-section__fondue-title">fondue</div>
            <!-- /.footer-section__fondue-title -->
            <div class="footer-section__fondue-text"><span class="footer-section__fondue-text-black">Project Assistant</span>: Francesco Dompieri
                <span class="footer-section__fondue-text-black">Material</span>: Glass and Metal<br>
                <span class="footer-section__fondue-text-black">Typology</span>: Suspension lamp<br>
                <span class="footer-section__fondue-text-black">Client</span>: David Design<br>
                <span class="footer-section__fondue-text-black">Year</span>: 2014</div>
            <!-- /.footer-section__fondue-text -->
            <div class="footer-section__fondue-arrow-img">
                <img src="img/footer-section/fondue/arrow_icon.png" alt="">
            </div>
            <!-- /.footer-section__fondue-arrow-img -->
            <div class="footer-section__fondue-arrow-img-text">view project</div> 
            <!-- /.footer-section__fondue-arrow-img-text -->
            <div class="footer-section__fondue-heart">
                <img src="img/footer-section/fondue/heart.png" alt="">
            </div>
            <!-- /.footer-section__fondue-heart -->
            <div class="footer-section__fondue-heart-img_text">+200</div>
            <!-- /.footer-section__fondue-heart-img_text -->
            <div class="footer-section__fondue-img"><img src="img/footer-section/fondue/fnd.png" alt=""></div>
            <!-- /.footer-section__fondue-img -->
        </div>
        <!-- /.footer-section__fondue -->
        <div class="footer-section-col">
        <div class="footer-section__potter">
            <div class="footer-section__potter-title">potter</div>
            <!-- /.footer-section__potter-title -->
            <div class="footer-section__potter-text"><span class="footer-section__potter-text-black">for</span> <span class="footer-section__potter-text-upper">stelton</span><br>
                Potter focuses on the functional-<br>ity and process of preparing tea. a big sieve allows the flavor of to evenly brewed.</div>
            <!-- /.footer-section__potter-text -->
            <div class="footer-section__potter-arrow_img"><img src="img/footer-section/potter/arrow_icon.png" alt=""></div>
            <!-- /.footer-section__potter-arrow_img -->
            <div class="footer-section__potter-arrow_img-text">view project</div>
            <!-- /.footer-section__potter-arrow_img-text -->
            <div class="footer-section__potter-heart_img"><img src="img/footer-section/potter/heart.png" alt=""></div>
            <!-- /.footer-section__potter-heart_img -->
            <div class="footer-section__potter-heart_img-text">+200</div>
            <!-- /.footer-section__potter-heart_img-text -->
            <div class="footer-section__potter-img"><img src="img/footer-section/potter/potter.png" alt=""></div>
            <!-- /.footer-section__potter-img -->
        </div>
        <!-- /.footer-section__potter -->
        <div class="footer-section__fiji">
            
                <div class="footer-section__fiji-title">fiji</div>
                <!-- /.footer-section__fiji-title -->
                <div class="footer-section__fiji-text"><span class="footer-section__fiji-text-black">designer</span>: Cuno Frommherz
                    <span class="footer-section__fiji-text-black">Typology</span>: armchairs<br>
                    <span class="footer-section__fiji-text-black">Year</span>: 2012</div>
                <!-- /.footer-section__fiji-text -->
                <div class="footer-section__fiji-arrow_img"><img src="img/footer-section/fiji/arrow_icon.png" alt=""></div>
                <!-- /.footer-section__fiji-arrow_img -->
                <div class="footer-section__fiji-arrow_img-text">view project</div>
                <!-- /.footer-section__fiji-arrow_img-text -->
                <div class="footer-section__fiji-heart_img"><img src="img/footer-section/fiji/heart.png" alt=""></div>
                <!-- /.footer-section__fiji-heart_img -->
                <div class="footer-section__fiji-heart_img-text">+200</div>
                <!-- /.footer-section__fiji-heart_img-text -->
                <div class="footer-section__fiji-img"><img src="img/footer-section/fiji/armchair.png" alt=""></div>
                <!-- /.footer-section__fiji-img -->
            
        </div>
        <!-- /.footer-section__fiji -->
    </div>
    <!-- /.footer-section-col -->
    </div>
    <!-- /.footer-section -->
</div>
    <!-- /.container -->
</div>
<!-- /.main-container -->
</body>
</html>