@media (max-width: 320px)
    a 
        text-decoration: none
        color: #ffe400
        cursor: pointer
        
    .cancel_a-w320
        color: #505050
        &:hover
            color: (#505050)
    

    .wrapper-header
        display: none
    .wrapper-header-w320
        width: 320px
        display: flex
    .header-w320
        width: 320px
        height: auto
        &-left_block
            width: 320px
            height: auto
            &-title
                display: flex
                width: 320px
                &_text
                    width: 120px
                    height: 19px
                    color: #505050
                    font-family: 'Raleway', sans-serif;
                    font-size: 36px
                    font-weight: 700
                    line-height: 30px
                    text-transform: uppercase
                    margin-left: 29px
                    margin-top: 34px
            &-subtitle_text
                width: 63px
                height: 10px
                color: #ffe400
                font-family: 'Raleway', sans-serif;
                font-size: 14px
                font-weight: 700
                line-height: 30px
                text-transform: uppercase  
                margin-left: 95px
                margin-top: 35px 
            &-middle_text
                display: flex  
                width: 220px  
            &-middle_text-left
                width: 400px
                height: 10px
                color: #505050
                font-family: 'Raleway', sans-serif;
                font-size: 14px
                font-weight: 700
                line-height: 30px
                text-transform: uppercase  
                display: flex
                -webkit-transform: rotate(270deg) 
                transform: rotate(270deg)
                transform-origin: left top 0 
                margin-left: 39px
                margin-top: 150px 
            &-middle_text-right
                width: 130px
                height: 10px
                color: #505050
                font-family: 'Raleway', sans-serif;
                font-size: 14px
                font-weight: 700
                line-height: 30px
                text-transform: uppercase    
                margin-top: 204px  
                margin-left: 0px
            
            &-center_text
                width: 320px
                &-title
                    width: 320px
                    height: 28px
                    color: #505050
                    font-family: 'Raleway', sans-serif;
                    font-size: 40px
                    font-weight: 700
                    line-height: 30px  
                    margin-left: 17px
                    -webkit-transform: rotate(320deg) 
                    transform: rotate(320deg)
                    transform-origin: left top 0
                    &_down-text
                        width: 298px
                        height: 56px
                        color: #505050
                        font-family: 'Raleway', sans-serif;
                        font-size: 40px
                        font-weight: 700
                        line-height: 30px  
                        margin-left: 19px
                        margin-top: 0px
                        -webkit-transform: rotate(10deg) 
                        transform: rotate(10deg)
                        transform-origin: left top 0
                &-subtitle_container
                    display: flex 
                    margin-top: 16px  
                &-subtitle
                    width: 100px
                    height: 10px
                    color: #505050
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px
                    font-weight: 700
                    line-height: 30px
                    text-transform: uppercase 
                    margin-left: -135px
                    position: relative
                    z-index: 1
                    margin-top: 9px
                    &_img
                        background: url(../img/header/bg_yellow.png) 
                        width: 95px
                        height: 47px
                        position: relative
                        z-index: 0
                        margin-left: 70px
            &-social
                
                margin-left: 9px
                width: 85px
                height: 16px
                margin-top: 25px
                display: flex
                justify-content: space-around



    .wrapper-services
        width: 100%
        height: 485px
        display: flex
        justify-content: center
    .services
        width: 320px
        margin-left: 0
        &_title
            width: 320px
            height: 21px
            margin-left: 0
            color: #505050
            font-size: 30px
            font-weight: 700
            line-height: 24px
            margin-top: 100px
            text-align: center
        &_subtitle
            width: 320px
            height: 14px
            margin-left: 0
            color: #505050
            font-size: 16px
            font-weight: 400
            line-height: 24px
            margin-top: 30px
            text-align: center
        &-carts
            width: 320px
            display: flex
            justify-content: center
            justify-content: space-between
            flex-direction: column
            &-down    
                display: flex
                justify-content: center
                justify-content: space-between
                margin-top: -50px
                flex-direction: column
            &_cart
                width: 300px
                height: 70px
                margin-top: 97px
                display: flex
                margin-left: 13px
                &-img
                    margin-right: 22px
                    align-self: flex-end
                    
                    height: 69px
                &-text
                    display: flex
                    flex-direction: column    
                &-title
                    width: 170px
                    height: 11px
                    color: #505050
                    font-size: 16px
                    font-weight: 700
                    line-height: 24px
                    text-transform: uppercase 
                &-subtitle 
                    width: 213px
                    height: 37px
                    color: #505050
                    font-size: 14px
                    font-weight: 400
                    line-height: 14px  
                    margin-top: 19px  

                
    
            

header 
    display: flex
                     
               
    .subscribe-wrapper
        width: 320px 
    .subscribe
        width: 320px 

        &-left

            &_title
                width: 320px
            &_subtitle
                width: 320px
        &-right 

            &_form-input
                width: 320px    

    
            
                            