
@media (max-width: 1440px)
    .services
        width: 74%
        margin-left: 334px
    .services-carts
        width: 100%
    .team
        width: 74%
        margin-left: 370px    
    // .wrapper-services
        // width: 130%
    // .work-menu
        // margin-left: 348px
    // .team-title
        // width: 133%
        // margin-left: 127px
    // .team-subtitle
        // width: 133% 
        // margin-left: 127px   
    // .team-foto_wrap
        // width: 153%
    .subscribe-wrapper
        margin-left: 200px
    .rights
        margin-left: 200px

@media (max-width: 1024px) 
    .services
        width: 100%
        margin-left: 650px
    .team
        width: 100%
        margin-left: 588px 
    .subscribe
        margin-left: 300px
    .rights 
        margin-left: 360px           


        
                  

        

