.container-services-cards
  display: flex
  width: 100%
  margin-top: 85px
  flex-direction: column
  align-items: center
.services
  font-size: 29px
  font-weight: 700
  text-align: center
  padding-top: 95px
  &-text
    text-align: center
    margin-top: 20px
  &-cards
    display: flex
    justify-content: space-between
    width: 56%
    max-height: 363px
    &-up
      width: 56%
      max-height: 363px
      display: flex
      justify-content: space-between
    &-down
      width: 56%
      max-height: 363px
      display: flex
      justify-content: space-between
      margin-top: 40px
  &-card
    display: grid
    grid-template-columns: 75px
    grid-template-rows: 21px 50px
    grid-gap: 5px


.card-img-1
  grid-row: 1 / 2
  background: url("../img/services/icon2.png")
  width: 65px
  height: 65px
.card-img-2
  grid-row: 1 / 2
  background: url("../img/services/icon3.png")
  width: 65px
  height: 65px
.card-img-3
  grid-row: 1 / 2
  background: url("../img/services/icon6.png")
  width: 65px
  height: 65px
.card-img-4
  grid-row: 1 / 2
  background: url("../img/services/icon1.png")
  width: 65px
  height: 65px
.card-img-5
  grid-row: 1 / 2
  background: url("../img/services/icon4.png")
  width: 65px
  height: 65px
.card-img-6
  grid-row: 1 / 2
  background: url("../img/services/icon5.png")
  width: 65px
  height: 65px
.card-title
  grid-column: 2 / 3
  width: 170px
  height: 15px
  font-size: 16px
  font-weight: 700
  line-height: 24px
  text-transform: uppercase

.card-text
  grid-column: 2 / 3
  width: 213px
  height: 49px
  font-size: 14px
  font-weight: 400
  line-height: 14px

