.team
  width: 100%
  //max-width: 1800px
  display: flex
  flex-direction: column
  align-items: center
  &-title
    font-size: 30px
    font-weight: 700
    line-height: 24px
    margin-top: 146px
  &-text
    height: 14px
    font-size: 16px
    font-weight: 400
    line-height: 24px
    margin-top: 30px
.team-cards
  display: flex
  justify-content: center
  width: 80%
  flex-wrap: wrap
  padding-top: 37px
.team-info-1
  display: grid
  grid-template-columns: 218px
  grid-template-rows: 306px 30px 30px 30px
  grid-gap: 5px
  &-foto-1
    background: url("../img/team/1.png")
    cursor: pointer
.team-info-2
  display: grid
  grid-template-columns: 206px
  grid-template-rows: 306px 30px 30px 30px
  grid-gap: 5px
  padding-left: 70px
  &-foto-2
    background: url("../img/team/2.png")
    cursor: pointer
.team-info-3
  display: grid
  grid-template-columns: 225px
  grid-template-rows: 306px 30px 30px 30px
  grid-gap: 5px
  padding-left: 70px
  &-foto-3
    background: url("../img/team/3.png")
    cursor: pointer
.team-info-4
  display: grid
  grid-template-columns: 202px
  grid-template-rows: 306px 30px 30px 30px
  grid-gap: 5px
  padding-left: 70px
  &-foto-4
    background: url("../img/team/4.png")
    cursor: pointer
  &-name-1
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    width: 150px
    margin-top: 330px
    cursor: pointer
  &-profession-1
    width: 200px
    opacity: 0.8
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    margin-top: 320px
  &-tel-1
    margin-top: 328px









