.work
  width: 100%
  display: flex
  justify-content: center
  margin-top: 116px
  margin-bottom: 63px
  &-nav
    width: 25%
    display: flex
    justify-content: space-between
    font-size: 14px
    font-weight: 700
    line-height: 24px
    text-transform: uppercase
    cursor: pointer
  &-link
    font-size: 14px
    font-weight: bold
    position: relative
    z-index: 1
    cursor: pointer
    width: 120px
    &-container
      margin: 95px 43% 0 48%
  &-img
    display: grid
    grid-template-columns: 350px 350px 350px
    grid-template-rows: 350px 350px
    gap: 27px 54px
    cursor: pointer
    &_hover
      display: none
      width: 350px
      height: 350px
      &-title
        width: 350px
        height: 12px
        color: #505050
        font-size: 18px
        font-weight: 700
        line-height: 30px
        text-transform: uppercase
        margin-top: 50px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
      &-subtitle
        width: 350px
        height: 12px
        color: #505050
        font-size: 18px
        font-weight: 700
        line-height: 30px
        text-transform: uppercase
        margin-top: 17px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
      &-text
        width: 281px
        height: 86px
        color: #505050
        font-size: 16px
        font-weight: 400
        line-height: 24px
        margin-top: 30px
        margin-left: 35px
      &-link
        width: 85px
        height: 10px
        color: #505050
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        margin-top: 83px
        margin-left: 36px

    &_img-1
      background: url("../img/work/bottle.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
    &_img-2
      background: url("../img/work/instant.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
    &_img-3
      background: url("../img/work/journal.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
    &_img-4
      background: url("../img/work/replace_image.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
    &_img-5
      background: url("../img/work/cup.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
    &_img-6
      background: url("../img/work/boxes.png")
      width: 350px
      height: 350px
      &:hover .work-img_hover
        background: rgba(255, 255, 0, 0.7)
        display: block
        overflow: hidden
.center a::before
  content: ''
  bottom: 0
  left: 0
  position: absolute
  width: 100%
  height: 2px
  background-color: #ffe400
  transition: 0.2s
  transform: scaleX(0)
.center a:hover:before
  transform: scaleX(1)
.worksection
  left: -35px
  z-index: 0
  cursor: pointer



