* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, serif;
  color: #505050;
}

ul {
  list-style-type: none;
}

.wrap {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-creative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 700;
  padding-top: 25px;
  margin-left: 200px;
}

.header-contact {
  font-size: 14px;
  font-weight: normal;
  margin-left: 85px;
}

.header-contact:hover {
  cursor: pointer;
  color: #ffe400;
}

.header-seeallworks {
  margin-top: 100px;
  margin-left: 70px;
  width: 300px;
  height: 20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.header-seeallworks:hover {
  color: #ffe400;
}

.header-home {
  width: 100px;
  height: 20px;
  margin-left: 405px;
  margin-top: 92px;
  font-size: 14px;
}

.header-home::before {
  content: url(../img/header/creative_border.png);
  vertical-align: super;
  margin-right: 10px;
}

.header-home:hover {
  cursor: pointer;
  color: #ffe400;
}

.header-readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin-left: 429px;
  margin-top: 60px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.header-yellowcolor {
  background: url(../img/header/bg_yellow.png) no-repeat;
  width: 96px;
  height: 47px;
  position: relative;
  left: 391px;
  bottom: 33px;
}

.container-title {
  width: 600px;
  margin-left: 403px;
  margin-top: 15px;
  font-size: 62px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.left-header {
  width: 50%;
}

.right-header {
  width: 50%;
  position: relative;
  z-index: 0;
  right: 238px;
}

.right-bgd {
  background: url("../img/header/fon_bg.png");
  width: 1107px;
  height: 780px;
  margin-top: 85px;
}

.right-img {
  background: url("../img/header/imac.png");
  position: relative;
  z-index: 1;
  width: 703px;
  height: 556px;
  top: 91px;
  left: 296px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 87px;
  margin-left: 174px;
}

.social-insta {
  background: url("../img/header/instagram.png");
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.social-twitter {
  background: url("../img/header/twitter.png");
  width: 16px;
  height: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.social-fbook {
  background: url("../img/header/facebook.png");
  width: 8px;
  height: 16px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.container-services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  padding-top: 95px;
}

.services-text {
  text-align: center;
  margin-top: 20px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
  max-height: 363px;
}

.services-cards-up {
  width: 56%;
  max-height: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-cards-down {
  width: 56%;
  max-height: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.services-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px;
      grid-template-columns: 75px;
  -ms-grid-rows: 21px 50px;
      grid-template-rows: 21px 50px;
  grid-gap: 5px;
}

.card-img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon2.png");
  width: 65px;
  height: 65px;
}

.card-img-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon3.png");
  width: 65px;
  height: 65px;
}

.card-img-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon6.png");
  width: 65px;
  height: 65px;
}

.card-img-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon1.png");
  width: 65px;
  height: 65px;
}

.card-img-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon4.png");
  width: 65px;
  height: 65px;
}

.card-img-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url("../img/services/icon5.png");
  width: 65px;
  height: 65px;
}

.card-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 170px;
  height: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.card-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 213px;
  height: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 116px;
  margin-bottom: 63px;
}

.work-nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.work-link {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 120px;
}

.work-link-container {
  margin: 95px 43% 0 48%;
}

.work-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 350px 350px;
      grid-template-rows: 350px 350px;
  gap: 27px 54px;
  cursor: pointer;
}

.work-img_hover {
  display: none;
  width: 350px;
  height: 350px;
}

.work-img_hover-title {
  width: 350px;
  height: 12px;
  color: #505050;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.work-img_hover-subtitle {
  width: 350px;
  height: 12px;
  color: #505050;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.work-img_hover-text {
  width: 281px;
  height: 86px;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 35px;
}

.work-img_hover-link {
  width: 85px;
  height: 10px;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 83px;
  margin-left: 36px;
}

.work-img_img-1 {
  background: url("../img/work/bottle.png");
  width: 350px;
  height: 350px;
}

.work-img_img-1:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.work-img_img-2 {
  background: url("../img/work/instant.png");
  width: 350px;
  height: 350px;
}

.work-img_img-2:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.work-img_img-3 {
  background: url("../img/work/journal.png");
  width: 350px;
  height: 350px;
}

.work-img_img-3:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.work-img_img-4 {
  background: url("../img/work/replace_image.png");
  width: 350px;
  height: 350px;
}

.work-img_img-4:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.work-img_img-5 {
  background: url("../img/work/cup.png");
  width: 350px;
  height: 350px;
}

.work-img_img-5:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.work-img_img-6 {
  background: url("../img/work/boxes.png");
  width: 350px;
  height: 350px;
}

.work-img_img-6:hover .work-img_hover {
  background: rgba(255, 255, 0, 0.7);
  display: block;
  overflow: hidden;
}

.center a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffe400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.center a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.worksection {
  left: -35px;
  z-index: 0;
  cursor: pointer;
}

.work-img,
.skills,
.resp {
  padding: 0 15px;
}

@media (max-width: 1440px) {
  .header-seeallworks {
    margin-top: 30px;
  }
  div.header-home {
    margin-left: 311px;
  }
  .container-title {
    margin-top: 80px;
    margin-left: 160px;
  }
  .container-services-cards {
    width: 87%;
  }
  .work-nav {
    width: 33%;
  }
  .work-link {
    width: 120px;
  }
  div.skills {
    width: 77%;
  }
  div.skills-left {
    margin: 0px;
  }
  .team {
    width: 95% !important;
  }
}

@media (min-width: 1440px) and (max-width: 3000px) {
  .work-img,
  .skills,
  .resp {
    padding: 0 calc(50% - 590px);
  }
}

@media (max-width: 1262px) {
  div.header-home {
    margin-left: 250px;
  }
}

@media (max-width: 1148px) {
  div.header-home {
    margin-left: 100px;
  }
}

@media (max-width: 1024px) {
  .header-seeallworks {
    margin-top: 30px;
  }
  div.header-home {
    margin-left: 75px;
  }
  .container-title {
    margin-top: 80px;
    margin-left: 110px;
  }
  .container-services-cards {
    width: 37%;
  }
  .work-nav {
    width: 45%;
  }
  .work-img {
    -ms-grid-columns: 350px 350px;
        grid-template-columns: 350px 350px;
    -ms-grid-rows: 350px 350px 350px;
        grid-template-rows: 350px 350px 350px;
    padding-left: 127px !important;
  }
  div.skills-left {
    width: 50%;
    margin: -37px 0 0 191px;
  }
  .skills-right {
    display: none;
  }
  .team {
    width: 95% !important;
  }
  div.subscribe {
    width: 565px;
    height: 215px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.subscribe-left_title {
    margin-top: 35px;
  }
  div.subscribe-left_subtitle {
    height: 0;
  }
  div.rights {
    margin-top: 100px;
  }
}

@media (max-width: 991.98px) {
  .work-img,
  .skills,
  .resp {
    padding: 0 calc(50% - 480px);
  }
}

@media (max-width: 768px) {
  .header-seeallworks {
    margin-top: 30px;
  }
  .container-title {
    margin-top: 80px;
    margin-left: 160px;
  }
  .container-services-cards {
    width: 37%;
  }
  .work-nav {
    width: 70%;
  }
  .work-img {
    -ms-grid-columns: 350px 350px;
        grid-template-columns: 350px 350px;
    -ms-grid-rows: 350px 350px 350px;
        grid-template-rows: 350px 350px 350px;
    padding-left: 127px !important;
  }
  .skills-left {
    margin: 0px !important;
  }
  .skills-right {
    display: none;
  }
  .team {
    width: 95% !important;
  }
  div.subscribe {
    width: 565px;
    height: 215px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.subscribe-left_title {
    margin-top: 35px;
  }
  div.subscribe-left_subtitle {
    height: 0;
  }
  div.rights {
    margin-top: 100px;
  }
}

@media (max-width: 767.98px) {
  .work-img,
  .skills,
  .resp {
    padding: 0 calc(50% - 360px);
  }
}

@media (max-width: 575.98px) {
  .work-img,
  .skills,
  .resp {
    padding: 0 calc(50% - 270px);
  }
}

.skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-left {
  width: 55%;
  margin: 73px 0 0 191px;
}

.skills-left-link {
  width: 120px;
  height: 10px;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 61px;
}

.skills-left-link::before {
  content: url("../img/skills/creative_border.png");
  vertical-align: super;
  margin-right: 10px;
}

.skills-left-link:hover {
  color: #ffe400;
}

.skills-left-title {
  width: 270px;
  height: 21px;
  color: #505050;
  font-size: 30px;
  font-weight: 700;
  line-height: 84px;
  margin-top: 15px;
}

.skills-left-text {
  width: 483px;
  height: 206px;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 60px;
}

.skills-left-skills {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-left-skills-one .grid, .skills-left-skills-two .grid, .skills-left-skills-three .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 50px;
      grid-template-columns: 50px 50px;
  -ms-grid-rows: 15px 20px;
      grid-template-rows: 15px 20px;
  grid-gap: 5px;
}

.skills-left-skills-one .item-1, .skills-left-skills-two .item-1, .skills-left-skills-three .item-1 {
  width: 115px;
  font-weight: bold;
  font-size: 18px;
}

.skills-left-skills-one .item-2, .skills-left-skills-two .item-2, .skills-left-skills-three .item-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background: url("../img/skills/bg.png");
  position: relative;
  z-index: 0;
  width: 90px;
  height: 45px;
  margin-top: 23px;
}

.skills-left-skills-one .item-3, .skills-left-skills-two .item-3, .skills-left-skills-three .item-3 {
  position: relative;
  z-index: 1;
  left: -5px;
  width: 70px;
  font-size: 30px;
  font-weight: bold;
  top: 6px;
  margin-top: 21px;
}

.skills-right {
  width: 45%;
}

.skills-right-img {
  width: 725px;
  height: 570px;
  margin: 75px 92px auto;
}

.team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 146px;
}

.team-text {
  height: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
}

.team-info-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 218px;
      grid-template-columns: 218px;
  -ms-grid-rows: 306px 30px 30px 30px;
      grid-template-rows: 306px 30px 30px 30px;
  grid-gap: 5px;
}

.team-info-1-foto-1 {
  background: url("../img/team/1.png");
  cursor: pointer;
}

.team-info-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 206px;
      grid-template-columns: 206px;
  -ms-grid-rows: 306px 30px 30px 30px;
      grid-template-rows: 306px 30px 30px 30px;
  grid-gap: 5px;
  padding-left: 70px;
}

.team-info-2-foto-2 {
  background: url("../img/team/2.png");
  cursor: pointer;
}

.team-info-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px;
      grid-template-columns: 225px;
  -ms-grid-rows: 306px 30px 30px 30px;
      grid-template-rows: 306px 30px 30px 30px;
  grid-gap: 5px;
  padding-left: 70px;
}

.team-info-3-foto-3 {
  background: url("../img/team/3.png");
  cursor: pointer;
}

.team-info-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 202px;
      grid-template-columns: 202px;
  -ms-grid-rows: 306px 30px 30px 30px;
      grid-template-rows: 306px 30px 30px 30px;
  grid-gap: 5px;
  padding-left: 70px;
}

.team-info-4-foto-4 {
  background: url("../img/team/4.png");
  cursor: pointer;
}

.team-info-4-name-1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  margin-top: 330px;
  cursor: pointer;
}

.team-info-4-profession-1 {
  width: 200px;
  opacity: 0.8;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 320px;
}

.team-info-4-tel-1 {
  margin-top: 328px;
}

.subscribe-wrapper {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe {
  margin-top: 50px;
  width: 1110px;
  height: 157px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-left {
  margin-left: 95px;
}

.subscribe-left_title {
  width: 365px;
  height: 20px;
  color: #505050;
  font-size: 28px;
  font-weight: 400;
  margin-top: 55px;
}

.subscribe-left_subtitle {
  width: 450px;
  height: 13px;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
}

.subscribe-right_form-input {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-right_form-input_input {
  margin-left: 51px;
  margin-top: 56px;
  opacity: 0.4;
  color: #505050;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  width: 258px;
  height: 42px;
  border: 1px solid #ededed;
  background-color: #ffffff;
  outline: none;
  padding: 0 36px;
}

.subscribe-right_form-input_button {
  width: 131px;
  height: 42px;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #ededed;
  background-color: #ffe400;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  outline: none;
}

.subscribe-right_form-input_button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 82px 10px #e1e400;
  -webkit-box-shadow-box-shadow: 0 0 82px 10px #e1e400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.rights {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  position: relative;
}

* {
  font-family: 'Raleway', sans-serif;
}
/*# sourceMappingURL=main.css.map */