.hover:hover
    background-color: #19b5fe00 
    border: 1px solid
    
.hover-up-side-down:hover
    background-color: #19b5fe00 
    border: 1px solid #19b5fe
    color: #19b5fe 
    width: 181px
    height: 50px
    
.hover-cost:hover
    background-color: #19b5fe
    border: 1px solid #19b5fe
    color: #ffffff 
    
.hover-portfolio:hover
    background-color: #19b5fe
    color: #ffffff 
    font-weight: 400
    border-radius: 10px
    cursor: pointer
    height: 49px
.hover-portfolio-u1:hover
    background-color: #19b5fe
    color: #ffffff 
    font-weight: 400
    border-radius: 10px
    cursor: pointer
    height: 49px
    &:after
        content: url(../img/portfolio/1.png)
        position: absolute
        left: 47%
        margin-left: -355px
        width: 50px
        height: 47px
        transform: rotate(360deg)    
.hover-portfolio-u4:hover
    background-color: #19b5fe
    color: #ffffff 
    font-weight: 400
    border-radius: 10px
    cursor: pointer
    height: 49px
    &:after
        content: url(../img/portfolio/1.png)
        position: absolute
        left: 47%
        margin-left: 422px
        width: 50px
        height: 47px
        transform: rotate(180deg)    
        
    
    

    
    
