.container-portfolio
    width: 100%
    height: 800px
    display: flex
    justify-content: center
.portfolio
    display: flex
    align-items: center
    flex-direction: column
    width: 1140px
    margin-top: 50px
    &-title
        font-size: 36px
        line-height: 38px
        font-weight: 300
        color: #363636
    &-line
            
    &-nav
        width: 735px
        display: flex
        justify-content: space-around
        align-items: center
        width: 765px
        height: 47px
        border: 1.0px solid #19b5fe
        border-radius: 50px 
        margin-top: 40px
        &-item-1
            width: 150px
            display: flex
            justify-content: center
            align-items: center
            font-size: 14px
            line-height: 38px
            font-weight: 300
            text-transform: uppercase
            color: #19b5fe
        &-item-2
            width: 150px
            display: flex
            justify-content: center
            align-items: center
            font-size: 14px
            line-height: 38px
            font-weight: 300
            text-transform: uppercase
            color: #19b5fe
        &-item-3
            width: 200px
            display: flex
            justify-content: center
            align-items: center
            font-size: 14px
            line-height: 38px
            font-weight: 300
            text-transform: uppercase
            color: #19b5fe
        &-item-4  
            width: 260px
            display: flex
            justify-content: center  
            align-items: center      
            font-size: 14px
            line-height: 38px
            font-weight: 300
            text-transform: uppercase
            color: #19b5fe
    &-images
        width: 1140px
        height: 550px
        display: flex
        flex-direction: column
        margin-top: 23px
        &-up
            width: 1140px
            display: flex
            justify-content: space-between
            &-img1
                background: url(../img/portfolio/p1.jpg)
                width: 360px
                height: 260px
                transition: 0.3s
            &-img2
                background: url(../img/portfolio/p2.jpg)
                width: 360px
                height: 260px
                transition: 0.3s
            &-img3
                background: url(../img/portfolio/p3.jpg)
                width: 360px
                height: 260px  
                transition: 0.3s      
        &-down
            width: 1140px
            display: flex
            justify-content: space-between
            margin-top: 30px
            &-img1
                background: url(../img/portfolio/p4.jpg)
                width: 360px
                height: 260px
                transition: 0.3s
            &-img2
                background: url(../img/portfolio/p5.jpg)
                width: 360px
                height: 260px
                transition: 0.3s
            &-img3
                background: url(../img/portfolio/p6.jpg)
                width: 360px
                height: 260px 
                transition: 0.3s

@media (max-width: 320px)
    .container-portfolio
        width: 320px
        height: 1735px
        display: flex
        justify-content: center
    .portfolio
        display: flex
        align-items: center
        flex-direction: column
        width: 300px
        margin-top: 10px
        &-title
            font-size: 36px
            line-height: 38px
            font-weight: 300
            color: #363636
        &-line
                
        &-nav
            width: 735px
            display: flex
            justify-content: space-around
            align-items: center
            width: 765px
            height: 47px
            border: 1.0px solid #19b5fe
            border-radius: 50px 
            margin-top: 40px
            &-item-1
                width: 150px
                display: flex
                justify-content: center
                align-items: center
                font-size: 14px
                line-height: 38px
                font-weight: 300
                text-transform: uppercase
                color: #19b5fe
            &-item-2
                width: 150px
                display: flex
                justify-content: center
                align-items: center
                font-size: 14px
                line-height: 38px
                font-weight: 300
                text-transform: uppercase
                color: #19b5fe
            &-item-3
                width: 200px
                display: flex
                justify-content: center
                align-items: center
                font-size: 14px
                line-height: 38px
                font-weight: 300
                text-transform: uppercase
                color: #19b5fe
            &-item-4  
                width: 260px
                display: flex
                justify-content: center  
                align-items: center      
                font-size: 14px
                line-height: 38px
                font-weight: 300
                text-transform: uppercase
                color: #19b5fe
        &-images
            width: 300px
            height: 550px
            display: flex
            flex-direction: column
            margin-top: 23px
            &-up
                width: 300px
                display: flex
                justify-content: space-between
                flex-direction: column
                
                &-img1
                    background: url(../img/portfolio/p1.jpg)
                    width: 290px
                    height: 260px
                    transition: 0.3s
                    margin-bottom: 5px
                &-img2
                    background: url(../img/portfolio/p2.jpg)
                    width: 290px
                    height: 260px
                    margin-bottom: 5px
                &-img3
                    background: url(../img/portfolio/p3.jpg)
                    width: 290px
                    height: 260px  
                    margin-bottom: 5px      
            &-down
                width: 300px
                display: flex
                justify-content: space-between
                margin-top: 30px
                flex-direction: column
                
                &-img1
                    background: url(../img/portfolio/p4.jpg)
                    width: 290px
                    height: 260px
                    margin-bottom: 5px
                &-img2
                    background: url(../img/portfolio/p5.jpg)
                    width: 290px
                    height: 260px
                    margin-bottom: 5px
                &-img3
                    background: url(../img/portfolio/p6.jpg)
                    width: 290px
                    height: 260px 
                    margin-bottom: 5px

    .gamb
        color: #000 
    .g320     
        background: url('../img/portfolio/menu-320.png')          
        width: 46px
        height: 21px  
        margin-top: 5px     
            

            
           
            

