.goods
  height: 680px
  &__title
    text-align: center
    font-size: 20px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #292929
    margin-top: 35px
  &__cards
    display: flex
    height: 470px  
    margin-top: 50px
    justify-content: space-between
    &_card
      width: 300px
      height: 510px
      display: grid
      grid-template-columns: 300px
      grid-template-rows: 180px 20px 60px 20px 50px
      grid-gap: 2px
      border: 2.0px solid #f6f6f6
      transition: box-shadow .3s
      &:hover
        box-shadow: 1px 0px 18px 0px rgba(48, 50, 50, 1)
      &-img
        align-self: flex-end
        justify-self: center
      &-title
        text-align: center
        font-size: 15px
        font-weight: 700
        text-decoration: underline
        color: #292929 
        margin-top: 35px 
        cursor: pointer
      &-subtitle
        text-align: center
        font-size: 13px
        font-weight: 300
        color: #626262  
        margin-top: 45px 
      &-price
        text-align: center
        font-size: 16px
        font-weight: 500
        color: #0f0f0f  
        margin-top: 90px  
      &-button
        width: 180px
        height: 50px
        justify-self: center
        background-color: #ffd200
        text-align: center
        margin-top: 130px
        cursor: pointer
        &_text
          font-size: 12px
          line-height: 22px
          font-weight: 700
          color: #0d0d0d
          line-height: 50px
          transition: box-shadow 2s
          transition: text-shadow .3s
          &:hover
            box-shadow: 1px 0px 25px 0px rgba(255, 210, 0, 1);
            text-shadow: 0 0 .65px #333, 0 0 .65px #333





       