.sh-menu {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    right: 2px;
    top: 47px;
    @media (min-width: 100px) and (max-width: 1190px) {
        display: flex;
    }
    @media (min-width: 1191px) and (max-width: 10000px) {
        display: none;
    }
}

.sh-menu-blocks {
    top: 150px;
    position: absolute;
    left: 506px;
    @media (min-width: 100px) and (max-width: 1190px) {
        display: none;
    }
    @media (min-width: 1191px) and (max-width: 10000px) {
        display: none;
    }
    @media (max-width: 1140px) {
        left: 480px;
    }
    @media (min-width: 1040px) and (max-width: 1091px) {
        left: 446px;
    }
    @media (min-width: 1040px) and (max-width: 1084px) {
        left: 446px;
    }
    @media (max-width: 1039px) {
        left: 423px;
    }
    @media (min-width: 962px) and (max-width: 1000px) {
        left: 402px;
    }
    @media (min-width: 912px) and (max-width: 961px) {
        left: 350px;
    }
    @media (min-width: 850px) and (max-width: 911px) {
        left: 350px;
    }
    @media (min-width: 600px) and (max-width: 849px) {
        left: 340px;
    }
    @media (min-width: 693px) and (max-width: 815px) {
        left: 319px;
    }
    @media (max-width: 692px) {
        left: 245px;
    }
    @media (max-width: 425px) {
        left: 115px;
    }
    @media (max-width: 370px) {
        left: 90px;
    }
    @media (max-width: 369px) {
        left: 65px;
    }
    .item {
        font-size: 35px;
        font-family: Roboto;
        cursor: pointer;
        color: #ffffff;
    }
    .i-1,
    .i-2,
    .i-3,
    .i-4,
    .i-5,
    .i-6,
    .i-7,
    .i-8 {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}

.layer {
    display: none;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ffffff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}