* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1470px) {
  nav ul li {
    font-size: 24px;
    padding: 41px;
  }
}

@media (max-width: 1378px) {
  nav ul li {
    font-size: 24px;
    padding: 41px;
  }
  div.section-logo-number {
    width: 228px;
    height: 24px;
    font-size: 25px;
  }
  div.section-logo-orderCall {
    width: 228px;
    font-size: 22px;
  }
}

@media (max-width: 1250px) {
  nav ul li {
    font-size: 24px;
    padding: 41px;
  }
  div.advantages-block1-subtitle,
  div.advantages-block2-subtitle,
  div.advantages-block3-subtitle {
    font-size: 22px;
  }
  div.advantages-block1-title,
  div.advantages-block2-title,
  div.advantages-block3-title {
    font-size: 29px;
  }
  div.advantages-block2-text,
  div.advantages-block3-text {
    height: 45px;
    margin-top: 3px;
  }
  div.section-logo-text {
    font-size: 18px;
  }
}

@media (max-width: 730px) {
  nav ul li {
    font-size: 35px;
    padding: 41px;
  }
  div.advantages-blocks {
    margin-left: -143px;
  }
  .advantages-block1-img img,
  .advantages-block2-img img,
  .advantages-block3-img img {
    width: 55px;
  }
  div.advantages-block1-text {
    height: 55px;
  }
  div.advantages-block1-subtitle, div.advantages-block2-subtitle, div.advantages-block3-subtitle {
    font-size: 23px;
    line-height: 34px;
    width: 400px;
  }
  div.advantages-block2-text {
    width: 367px;
    height: 50px;
  }
  div.section-logo-number {
    width: 428px;
    height: 24px;
    font-size: 41px;
  }
  div.section-logo-orderCall {
    width: 433px;
    font-size: 43px;
    margin-top: 15px;
  }
  div.section-logo-text {
    font-size: 35px;
    line-height: 38px;
    width: 407px;
  }
  div.section-logo-img img {
    width: 110px;
    margin-top: 15px;
  }
  div.section-logo-telText {
    margin-left: 505px;
  }
  form.form {
    width: 524px;
    height: 674px;
    bottom: 1175px;
    left: 1167px;
  }
  div.form-title {
    margin-top: 24px;
    width: 377px;
    height: 145px;
    font-size: 44px;
  }
  div.form-subtitle {
    width: 491px;
    height: 183px;
    font-size: 40px;
    font-weight: 400px;
    line-height: 42px;
  }
  div.form-mail {
    width: 466px;
    height: 63px;
  }
  div.form-mail p {
    width: 330px;
    right: 48px;
    height: 50px;
  }
  div.form-mail input {
    font-size: 30px;
    width: 348px;
    right: 50px;
    height: 50px;
  }
  div.form-tel {
    width: 466px;
    height: 63px;
  }
  div.form-tel input {
    font-size: 30px;
    width: 348px;
    right: 50px;
    height: 50px;
  }
  div.icon-tel {
    margin-left: 202px;
    margin-top: 85px;
  }
  div.icon-tel img {
    width: 45px;
  }
  div.icon-line-up {
    margin-left: 168px;
    margin-top: -4px;
  }
  div.icon-line-up img {
    width: 2px;
    height: 65px;
  }
  div.icon-line-down {
    margin-left: 168px;
    margin-top: 75px;
  }
  div.icon-line-down img {
    width: 2px;
    height: 65px;
  }
  div.icon-head {
    margin-left: 200px;
    margin-top: 5px;
  }
  div.icon-head img {
    width: 45px;
  }
  button.form-button {
    width: 324px;
    height: 70px;
    font-size: 34px;
  }
  span.checkmark {
    top: 18px;
    left: 12px;
    height: 40px;
    width: 40px;
  }
  span.checkmark:after {
    width: 32px !important;
    height: 32px !important;
    border: 5px solid #ffffff !important;
  }
  div.privacy-text {
    width: 385px;
    height: 86px;
    font-size: 34px;
  }
  label.form-container {
    padding-left: 97px;
  }
}

@media (max-width: 500px) {
  div.main .main-img {
    width: 6000px;
  }
  div.container {
    height: 1103px;
    position: absolute;
    z-index: 5;
    bottom: 0px;
  }
  ul {
    font-size: 145px;
    padding: 41px;
    list-style: none;
  }
  ul a {
    color: #000000;
  }
  button.adaptive {
    position: relative;
    bottom: 2544px;
  }
  ul.menu-adaptive {
    position: relative;
    bottom: 2506px;
  }
  button {
    width: 204px;
    height: 100px;
    font-size: 45px;
  }
  section.section {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1136px;
  }
  div.section-logo {
    min-width: 1139px;
    max-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.section-logo-text {
    font-size: 121px;
    line-height: 119px;
    width: 695px;
    height: 298px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.section-logo-orderCall {
    width: 1554px;
    font-size: 94px;
    margin-top: 82px;
    font-weight: 700;
  }
  div.section-logo-number {
    width: 1595px;
    height: 30px;
    font-size: 98px;
  }
  div.section-logo-img img {
    width: 334px;
    margin-left: 775px;
  }
  div.section-logo-telText {
    margin-left: 0;
  }
  div.section-logo-imgText {
    margin-top: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.guarantee {
    padding-top: 1292px;
    padding-left: 230px;
  }
  .menu-adaptive {
    display: none;
  }
  div.man-img {
    display: none;
  }
  form.form {
    display: none;
  }
  header.container-header {
    display: none;
  }
  header.container-header img {
    height: 202px;
    width: 1900px;
  }
  div.advantages-blocks {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.advantages-block1,
  div.advantages-block2,
  div.advantages-block3 {
    height: 247px;
    width: 1101px;
  }
  .advantages-block1-img img,
  .advantages-block2-img img,
  .advantages-block3-img img {
    width: 174px;
  }
  div.advantages-block1-text,
  div.advantages-block2-text,
  div.advantages-block3-text {
    height: 155px;
    width: 815px;
    margin-left: 45px;
  }
  div.advantages-block1-title,
  div.advantages-block2-title,
  div.advantages-block3-title {
    font-size: 100px;
    margin-top: 28px;
  }
  div.advantages-block1-subtitle, div.advantages-block2-subtitle, div.advantages-block3-subtitle {
    font-size: 64px;
    width: 1000px;
    margin-top: 53px;
  }
  div.guarantee-label {
    background: url(../img/Shape_1.jpg);
    width: 1451px;
    height: 456px;
  }
  div.guarantee-label-text {
    text-align: center;
    width: 1460px;
    height: 1155px;
    font-size: 98px;
  }
  div.popup-form {
    position: relative;
    background-size: cover;
    padding: 35px 88px 50px 88px;
    color: #000000;
    left: 461px;
    top: 153px;
  }
  div.popup-form img.img-popup {
    width: 940px;
  }
}

@media (max-width: 350px) {
  ul li {
    font-size: 24px;
    padding: 41px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 882px;
  z-index: 0;
}

.container {
  height: 882px;
  position: absolute;
  z-index: 5;
  bottom: 0px;
}

.container-header {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  position: absolute;
  z-index: 6;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: "Exo 2.0 Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

nav li {
  padding: 67px;
  font-family: "Exo 2.0 Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

nav li.left {
  padding-left: 0px;
}

nav li.right {
  padding-right: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #dd2c14;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-logo {
  min-width: 1139px;
  max-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-logo-imgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
}

.section-logo-text {
  margin-left: 17px;
  width: 210px;
  height: 40px;
  color: #000000;
  font-family: "Exo 2";
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.section-logo-telText {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.section-logo-number {
  width: 178px;
  height: 20px;
  color: #000000;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.section-logo-orderCall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 178px;
  height: 10px;
  color: #dd2c14;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.section-logo-orderCall:hover {
  font-weight: 700;
}

.guarantee {
  padding-top: 80px;
  padding-left: 390px;
}

.guarantee-label {
  background: url(../img/Shape_1.png);
  width: 620px;
  height: 243px;
}

.guarantee-label-text {
  width: 650px;
  height: 151px;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 24px 46px 93px 36px;
  overflow: hidden;
}

.advantages-block1 {
  background: url(../img/Rectangle.png);
  width: 697px;
  height: 73px;
  margin-left: 390px;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block1-img {
  margin-left: 18px;
  margin-top: 5px;
}

.advantages-block1-text {
  width: 215px;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 16px;
  overflow: hidden;
}

.advantages-block1-title {
  width: 215px;
  height: 18px;
  color: #fefefe;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-block1-subtitle {
  width: 200px;
  height: 12px;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
}

.advantages-block2 {
  background: url(../img/Rectangle.png);
  width: 697px;
  height: 73px;
  margin-left: 390px;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block2-img {
  margin-left: 14px;
  margin-top: 3px;
}

.advantages-block2-text {
  width: 167px;
  height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 16px;
  overflow: hidden;
}

.advantages-block2-title {
  width: 150px;
  height: 21px;
  color: #fefefe;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-block2-subtitle {
  width: 200px;
  height: 13px;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.advantages-block3 {
  background: url(../img/Rectangle.png);
  width: 697px;
  height: 73px;
  margin-left: 390px;
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-block3-img {
  margin-left: 13px;
  margin-top: 8px;
}

.advantages-block3-text {
  width: 250px;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 16px;
  overflow: hidden;
}

.advantages-block3-title {
  width: 250px;
  height: 21px;
  color: #fefefe;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-block3-subtitle {
  width: 250px;
  height: 13px;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.man-img {
  background: url(../img/man-min.png);
  width: 690px;
  height: 595px;
  position: relative;
  bottom: 499px;
  left: 577px;
}

.form {
  background: url(../img/form.png);
  width: 363px;
  height: 390px;
  position: relative;
  bottom: 933px;
  left: 1167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-title {
  margin-top: 23px;
  text-align: center;
  width: 190px;
  height: 75px;
  color: #000000;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
}

.form-subtitle {
  text-align: center;
  width: 288px;
  height: 40px;
  color: #000000;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
}

.form-mail {
  margin-top: 16px;
  width: 287px;
  height: 44px;
  border: 1px solid #c9c9c6;
  background-color: #eef2f5;
  padding: 10px 14px 10px 55px;
  position: relative;
}

.form-tel {
  margin-top: 17px;
  width: 287px;
  height: 44px;
  border: 1px solid #c9c9c6;
  background-color: #eef2f5;
  padding: 10px 14px 10px 55px;
  position: relative;
}

.form-button {
  margin-top: 23px;
  width: 287px;
  height: 44px;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #dd2c14;
  border: none;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}

.form-button:hover {
  background-color: #ffffff;
  color: #dd2c14;
}

.form-privacy {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-tel input {
  width: 230px;
  position: relative;
  right: 50px;
  height: 32px;
  bottom: 5px;
  background-color: #eef2f5;
  border: none;
}

.form-tel input:focus {
  outline: none;
}

.form-mail input {
  width: 230px;
  position: relative;
  right: 50px;
  height: 32px;
  bottom: 5px;
  background-color: #eef2f5;
  border: none;
}

.form-mail input:focus {
  outline: none;
}

.form-checkbox input {
  color: #dd2c14;
  margin-left: 13px;
  width: 15px;
  height: 15px;
  border: 1px solid #cacac6;
  background-color: #ffffff;
}

.privacy-text {
  width: 275px;
  height: 11px;
  color: #999999;
  font-family: "ProximaNova-Regular", Roboto Slab;
  font-size: 13px;
  font-weight: 400;
}

.icon-head {
  position: absolute;
  top: 50%;
  margin-left: 119px;
  margin-top: -27px;
  z-index: 1;
  color: #999999;
}

.icon-tel {
  position: absolute;
  top: 50%;
  margin-left: 120px;
  margin-top: 34px;
  z-index: 1;
  color: #999999;
}

.icon-line-up {
  position: absolute;
  top: 50%;
  margin-left: 97px;
  margin-top: 20px;
  z-index: 1;
  color: #999999;
}

.icon-line-down {
  position: absolute;
  top: 50%;
  margin-left: 97px;
  margin-top: -41px;
  z-index: 1;
  color: #999999;
}

.form-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 11px;
  height: 15px;
  width: 15px;
  background-color: #c1b8b8;
}

.form-container input:checked ~ .checkmark {
  background-color: #dd2c14;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-container input:checked ~ .checkmark:after {
  display: block;
}

.form-container .checkmark:after {
  width: 9px;
  height: 9px;
  border: solid #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 7;
}

.popup-title {
  margin-top: 23px;
  text-align: center;
  width: 190px;
  height: 75px;
  color: #000000;
  font-family: "Exo 2";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  left: 44px;
}

.popup-close {
  position: absolute;
  right: 780px;
  top: 184px;
  color: #000000;
  font-size: 35px;
  font-weight: 300;
  cursor: pointer;
  z-index: 9;
}

.popup-form {
  position: relative;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #000000;
  left: 697px;
  top: 153px;
}

.form-overlay {
  position: relative;
  bottom: 390px;
  left: 37px;
}

.icon-head-overlay {
  position: absolute;
  top: 50%;
  margin-left: 257px;
  margin-top: -26px;
  z-index: 1;
  color: #999999;
}

.icon-tel-overlay {
  position: absolute;
  top: 50%;
  margin-left: 257px;
  margin-top: 35px;
  z-index: 1;
  color: #999999;
}

.icon-line-up-overlay {
  position: absolute;
  top: 50%;
  margin-left: 243px;
  margin-top: -39px;
  z-index: 1;
  color: #999999;
}

.icon-line-down-overlay {
  position: absolute;
  top: 50%;
  margin-left: 243px;
  margin-top: 22px;
  z-index: 1;
  color: #999999;
}

#privacy {
  margin-left: -12px;
}
/*# sourceMappingURL=style.css.map */